# Compiled class file
*.class

# Log file
*.log

# Lock file
*.lck

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
!gradle/wrapper/gradle-wrapper.jar
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# System files
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE-related files
.idea
.code
.project
.settings
.vscode

# Build Files
.gradle
target
build

# Ballerina
velocity.log*
*Ballerina.lock
graphql-ballerina/modules/graphql/
