name: Build

on:
    push:
        branches:
            - master
        paths-ignore:
            - '*.md'
            - 'docs/**'
            - 'load-tests/**'

    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout Repository
                uses: actions/checkout@v2

            -   name: Set up JDK 11
                uses: actions/setup-java@v2
                with:
                    distribution: 'temurin'
                    java-version: 11

            -   name: Change to Timestamped Version
                run: |
                    startTime=$(TZ="Asia/Kolkata" date +'%Y%m%d-%H%M00')
                    latestCommit=$(git log -n 1 --pretty=format:"%h")
                    VERSION=$((grep -w 'version' | cut -d= -f2) < gradle.properties | rev | cut --complement -d- -f1 | rev)
                    updatedVersion=$VERSION-$startTime-$latestCommit
                    echo $updatedVersion
                    sed -i "s/version=\(.*\)/version=$updatedVersion/g" gradle.properties

            -   name: Grant execute permission for gradlew
                run: chmod +x gradlew

            -   name: Build with Gradle
                env:
                    packageUser: ${{ secrets.BALLERINA_BOT_USERNAME }}
                    packagePAT: ${{ secrets.BALLERINA_BOT_TOKEN }}
                    publishUser: ${{ secrets.BALLERINA_BOT_USERNAME }}
                    publishPAT: ${{ secrets.BALLERINA_BOT_TOKEN }}
                run: ./gradlew publish --no-daemon --scan

            -   name: Generate CodeCov Report
                uses: codecov/codecov-action@v2
            -   name: Upload Artifact
                uses: actions/upload-artifact@v2
                with:
                    name: ballerina-runtime
                    path: target/ballerina-runtime/
