name: Trivy

on:
    workflow_dispatch:
    schedule:
        -   cron: '0 0 * * *'

jobs:
    ubuntu-build:
        name: Build on Ubuntu
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v2
            -   name: Set up JDK 11
                uses: actions/setup-java@v2
                with:
                    distribution: 'adopt'
                    java-version: 11

            -   name: Build with Gradle
                env:
                    packageUser: ${{ github.actor }}
                    packagePAT: ${{ secrets.GITHUB_TOKEN }}
                run: ./gradlew build -x check -x test

            -   name: Create lib directory if not exists
                run: mkdir -p ballerina/lib

            -   name: Run Trivy vulnerability scanner
                uses: aquasecurity/trivy-action@master
                with:
                    scan-type: 'rootfs'
                    scan-ref: '/github/workspace/ballerina/lib'
                    format: 'table'
                    timeout: '10m0s'
                    exit-code: '1'
